body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    margin-top: 10px;
}
#map {
    margin: 20px auto;
    max-width: 90%;
    border: 2px solid #ccc;
    border-radius: 10px;
}
#monthSlider {
    display: block;
    margin: 10px auto;
    width: 80%;
}
#eventList {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.event {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.event:last-child {
    border-bottom: none;
}
